*{
    margin: 0;
    padding: 0;
}
body{
    background: #212121;
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}
.container{
    box-shadow: 0px 3px 15px rgba(182, 185, 192, 0.654);
    border-radius: 20px;
    margin-bottom: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,500px));
}
input{
    border: none;
    /* border: 2px solid black; */
    height: 180px;
    width: 100%;
    background-color: transparent;
    text-align: right;
    font-size: 2.9rem;
    color: rgb(254, 254, 254);
    box-shadow: 0px 3px 15px rgba(157, 159, 163, 0.347);
    border-radius: 20px 20px 0px 0px;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,600px));
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 15px;
}
button{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px ;
    box-shadow: 0px 3px 15px rgba(218, 222, 222, 0.795);
    font-size: 1.9rem;
    cursor: pointer;
}
.operation{
    background-color: rgba(234, 172, 15, 0.937);
    color: rgb(0, 0, 0);
}
@media only screen and (min-width:330px){
  .container{
    grid-template-rows: repeat(auto-fit,minmax(200px,580px));
  }
  .line{
    height: 20px;
  }

}
